/*RESET*/
*{
    background-color: black
}

/*Typography*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

@font-face {
    font-family: Hacked;
    src: url(https://hackedfont.com/HACKED.ttf);
}


/*Title*/
.title{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
h1{
    color: #ffffff;
    font-family: Hacked;
    font-size: 10em;
}
span{
    background-color: rgb(226, 43, 119);
    color: rgb(51, 255, 255);
    padding: 1% 0% 1% 0%;
}


/*RESPONSIVES*/
/*
@media (min-width: 1200px){

}
*/

